<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>About INDIAN ARMY</title>
</head>

<body>
    <nav style="background: black position: relative;height: 15%;" position>
        <marquee behavior="scroll" direction="right" scrollamount="10">
            <h1 style="color: coral; font-size: 300%">ABOUT INDIAN ARMY</h1>
        </marquee>
    </nav>

    <div class="ABOUT" style="position: relative; top: 100px; text-align: center; color: green">
        <h1 style="font-size: 300%;">Indian Army</h1>
        <div class="para1" style="color: black; text-align: left">
            <br /> Grit and experience affect the growth of an institution. Fighting four major wars, insurgency and other low intensity wars has indeed made the Indian Army an eminently and efficient battle trained, war machine.
            <br>Changing times bring changing needs. Battle training must tell also on the structuring of the army, for it is this function that extracts the most from the assets available, both men and material. A look at the command and structuring
            of the Indian Army shows how finely these have been tuned to meet India's threat perceptions, based on the experience of the major wars that it has fought and the present-day geo-political context. The largest standing volunteer Army in the
            world has never had to scour the populace for draft or conscription. There are always more men eager to don olive green than the demand at any one time. But this does not reflect a situation where a large unemployed workforce would get into
            uniform to keep body and soul together. More to the point is the basic attitude of our people to the call of arms, discovered also by the British, some three centuries before. There are very many who join up for long service tenures under
            the colors, by inclination and choice - also familial habit and honour. If a young man or woman, sound of body and mind, and of Indian origin, is inclined to spend most of his useful working years in the kind of desolation that the country's
            Field areas' adjoining the borders provide, can he or she cannot be refused. Join Indian Army For the purpose of recruitment, the country is divided into recruiting zones. Every zone is allotted a quota for recruitment based on a percentage
            of its population and ethnic grouping. A legacy, slowly being diluted, is that of combat arm units or regiments recruiting from a particular zone or mixture of ethnic groups. Once a man has joined up, it is for keeps. Many fall out at the
            basic training stage when they find that there is much more to it than getting into a smart uniform. The one who hear the sound of the trumpet clearly without missing a note, take their oath and for the greatness of the nation go into service
            - not servitude.
        </div>

        <div style="position: relative;">
			<img src="{{url_for('static', filename='para 2.jpg')}}" alt="" width="33%" />
			<img src="{{url_for('static', filename='para3.jpg')}}" alt="" width="33%" />
			<img src="{{url_for('static', filename='para4.jpg')}}" alt="" width="33%" />
        </div>



    </div>
    </div>
    <div style="position: relative;top: 100px;">
        Indian Army Headquarters began its life in the Red Fort - Delhi. Imposing edifice that it is, it was hardly suitable to house a complex entity such as this. Supreme Headquarters at that time retained its seat in South Block and refused to share space.
        Mercifully, it was wound up in short order. Today Army Headquarters occupies portions of South Block along with a gigantic, architecturally modern Sena Bhavan adjacent. Join Indian Army In the Indian context, Command Headquarter can be likened
        to a Field Army or even an Army Group Headquarter with a General Officer Commanding-in-Chief presiding over matters in the rank of a (three-star) Lieutenant General. Next the line are the Corps Headquarters, which are Field Army Headquarters elsewhere.
        The Indian Army's combat formations are now grouped and tailored under many such Corps Headquarters (with some forces being retained under static Area Commands). The static Areas, Sub Areas, or Independent Sub Areas span the length and breadth
        of the country. These look after infrastructural (and lines of communications) assets, relieving field formations from the tedium of administering a multiplicity of support installations located in an area. Area boundaries conform to state (or
        a group of states) administrative boundaries. All Headquarters are tasked also to maintain full civil-military liaison. Static Areas (or even field formations in some cases) set up Station Headquarters whose area of responsibility usually coincides
        with a district or a group of districts. Field formations located in Areas are always contingently tasked to assist the civil administration through these static Headquarters. Strangely enough, this system works. The Chief of Army Staff (COAS)
        wears multiple hats. To the entire army, now some 1.1 million men and women strong, he is the Chief. A number of Staff Officers assist him, such as Principal Staff Officers (PSOs), Heads of Arms and Services, etc. It would take a book of considerable
        length to even set down their designations and functions. Until the 1960s, staff coordination was a one-man affair in the form of a three-star General Officer designated the Chief of the General Staff, with direct access to the Chief available
        to 'some' - the PSOs. Today a Vice Chief and two Deputy Chiefs of Army Staff handle coordination. The command channel is absolutely one to one between the Chief and his Army Commanders -with no one - but no one authorized even to say hold the
        line'. PSOs at Army Headquarters (and others down the line) have retained their nineteenth-century designations, not having succumbed to new managerial nomenclatures or alpha-numeric designations. The Quartermaster General, Master General of Ordnance,
        Adjutant General, Military Secretary, Engineer-in-Chief, Signal Officer-in-Chief, therefore, find traditional mention. At the sharp end a brigade-level General Staff Officer and his logistic equivalents are still called GSO, Deputy Assistant Adjutant
        General and Deputy Assistant Quartermaster General respectively.
    </div>

    <div style="position: relative; top: 100px;">
		<img src="{{url_for('static', filename='para5.jpg')}}" alt="" width="33%" />
		<img src="{{url_for('static', filename='para6.jpg')}}" alt="" width="33%" />
		<img src="{{url_for('static', filename='para7.jpg')}}" alt="" width="33%" />
    </div>

    <div style="position: relative;top: 100px;">
        The field force is grouped into Corps. Some of these are defensively oriented and have, over the years, acquired an unofficial - 'Holding'. The others are called reserve or, unofficially again, 'Strike' Corps. The former is really a misnomer since these
        contain ample offensive potential. Corps Headquarters are designed to handle an all-arms field army- of three to five divisions or their equivalents. Army Headquarters reserves could be mammoth-size or small, but powerful in either case. Heavy-tracked-Corps
        are an instance of the former, and the three parachute commandos (battalion-size units), which perform special-forces duties, of the latter. Airborne, Air Assault or Parachute troops are usually held centralized. The mounts', in all cases, are
        provided by the Indian Air Force. Join Indian Army The Army has in its Order of Battle, mountain divisions, infantry divisions, armoured divisions (in which tank units predominate) and mechanized divisions (in which mechanized infantry units predominate).
        Independent brigade groups may be armoured, mechanized, air defence (missile or gun), parachute, engineer, field artillery, electronic warfare or even standard infantry and mountain. These form 'Corps/Army troops', that is, they are held at Corps
        and Army levels for balancing out missions and task forces. At these levels, one would find heavy logistic support units in terms of supply, transport, field ordnance depots, and medical facilities. Join Indian Army Organizationally, the field
        forces have never been static. Reorganization and creation of new field forces is the norm, prompted by constant rethinking on threats and the emergence of new technology. To put it simply, if our organizations are basically triangular, there
        is no bar on making them square or pentagonal for a given mission. Piecemeal 'modernisation' is of no use to anyone. All arms have gone through two and a half modernisation cycles since independence. For people with less than the usual quota of
        a sense of humour it amounts to a three-legged arms race in which the Joneses are driving the Javeds, Joshis and Jiangs to follow suit.
    </div>

    <div style="position: relative; top: 100px;">
        <img src="{{url_for('static', filename='para8.jpg')}}" alt="" width="33%" height="350px">
        <!-- <img src="para9.jpg" alt="" width="33%"> -->
        <img src="{{url_for('static', filename='para10.jpg')}}" alt="" width="33%">
    </div>

    <div style="position: relative;left: 510px; text-align: left; top: -260px;">
        At least with the Indian Army it is not really so. It is conscious of working out an edge or even proximate ability to see that a <br> catastrophic disadvantage does not undermine operational viability. Even the most articulate and vehement critic
        would <br> agree that the army is appreciative of what the country has provided to it in material, though it is somewhat hard pressed to <br> do so. The Underpinning The timeless creed of the warriors and their feeling of comradeship in war and
        pestilence. The <br> individual styles of the arms actually complement each other in combat. The pivot The ability of our field commanders to <br> accept organizational, doctrinal, and equipment changes (not in that order) plus a finer perception
        of the strategic issues <br> involved. With that, is their ability to mix individual assets into a combined arms and logistics team of very high combat worth. <br> Technology and Equipment It is in this narrow area that modernization is usually
        talked about. By themselves, 'equipment' may <br> just remain well-produced ironmongery or an intricate series of integrated circuits. But when these are synthesized in a <br> complementary mix, they come to life - and present a threat out of
        all proportion to their arithmetical aggregate on inventory. <br> Overall, the Indian Army is adequately equipped. There certainly remain areas where improvements or 'modernization' is <br> pending, but that does not, in any way, detract from
        the fact that overall the Army has achieved a dissuasive quality, in which <br> a potential aggressor will go into lip-biting conclave before deciding upon a violent course of action. The Indian Army gives <br> due respect to its adversaries and
        finds no need to cozen itself with whistling in the dark about 'One of US is equal to ten of <br> them.’ It does not accept being considered second to anyone - anywhere.
    </div>

    <div style="position: relative;top: -150px; text-align: center; font-size: 150%;">
        <h1 style="color: coral;">"Sewa Paramo Dharma"</h1>
        <h1 style="color: grey;">"Nabha sprsham deeptam"</h1>
        <h1 style="color: green;">"Sham-no Varuna"</h1>
    </div>
    <div style="text-align: center;">
        <h1 style="font-weight: 600; font-size: 200%; font-style: italic; color: red;">"Either I will come back after hoisting the tricolour, or I will come back wrapped in it, <br> but I will be back for sure"</h1><br>
        <h1 style="font-weight: 600; font-size: 200%; font-style: italic; color: royalblue;">—Capt. Vikram Batra, PVC</h1>
    </div>

    <footer>
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, Government of India. All Rights Reserved.
        </p>
        <p>
            <a href="mailto:cse200001007@iiti.ac.in ">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in |
          cse200001012@iiti.ac.in | cse200001027@iiti.ac.in
        </a>
        </p>
    </footer>
</body>

</html>