<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Prompt:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Hind+Siliguri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleg.css') }}"> 
</head>
<body class="bgimg">
	<div class="div1" align="center">
	<h1><a href="{{ url_for('fetchnews') }}">Show All News</a></h1></br>
	<form action="{{ url_for('searchnews') }}" method="post"> 
		<div class="msg">{{ msg }}</div> 
		<input id="title" name="title" type="text" placeholder="Enter Title" class="textbox" size="15"/>
		<button type="submit" value="Search by title">Search By Title</button></br> 
	</form>
	</div>
	<footer style="position: relative; top: 410px; background-color: coral; text-align: center;">
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, All Rights Reserved.
        </p>
        <p>
            <a href="cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in | cse200001012@iiti.ac.in | cse200001027@iiti.ac.in</a>
        </p>
    </footer>
	
</body>
</html>