<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <title>HOME | INDIAN ARMY</title>
</head>

<body>
    <nav>
        <div class="menu1">
			<div class="image"><img src="{{url_for('static', filename='logo1.png')}}" alt="" /> <br /></div>
            <div class="logo">
                <a href="{{ url_for('homepage') }}">Join the INDIAN ARMY </a> <br />
            </div>
            <ul>
				<li><a href="#">Welcome, {{session.username}}!</a></li>
				<li><a href="{{ url_for('verify') }}">Verify</a></li>
				<li><a href="{{ url_for('blog') }}">Blog</a></li>
				<li><a href="{{ url_for('sessions') }}">Live Chat</a></li>
				<li><a href="{{ url_for('search') }}">Users</a></li>
				<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="img">
        <div class="row">
            <div class="column">
				<img src="{{url_for('static', filename='poster 1.jpg')}}" alt="Snow" style="width: 100%" />
            </div>
            <div class="column">
                <img src="{{url_for('static', filename='poster 2.jpg')}}" alt="Forest" style="width: 100%" />
            </div>
            <div class="column">
                <img src="{{url_for('static', filename='poster 3.jpg')}}" alt="Mountains" style="width: 100%" />
            </div>
        </div>
    </div>

    <div class="center">
        <div class="title">
            This website helps you in joining the Indian Army as an Officer or as any Other Rank
			<br /> depending on your qualification and aptitude. You can talk to Officers in the
			</br> Army directly through our Live Chat and Blog features.
        </div>
        <div class="imp">
            <h1>Important details and information</h1>
            <div class="sub" style="color: rgb(177, 115, 0)">
				<h2><a href="{{ url_for('lifeinarmy') }}" style="color: green">| Life in Army</a></h2>
				<h2><a href="{{ url_for('aboutarmy') }}" style="color: green">| About the Indian Army</a></h2>
				<h2><a href="{{ url_for('articles') }}" style="color: green">| Important Articles</a></h2>
				<h2><a href="{{ url_for('searchjobs') }}" style="color: green">| Check Eligibility</a></h2>
			</div>
		</div>
		<br /><br /></br></br>

		<br />
		<div class="dropdown">
			<button class="dropbtn">Image Gallery</button>
			<div class="dropdown-content">
				<a href="{{ url_for('imagegallery') }}">Image Gallery</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">News</button>
            <div class="dropdown-content">
                <a href="{{url_for('newsjco')}}">For JCO / OR</a>
                <a href="{{url_for('newsofficer')}}">For Officers</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Notifications</button>
            <div class="dropdown-content">
                <a href="{{url_for('notifjco')}}">For JCO / OR</a>
				<a href="{{url_for('notifofficer')}}">For Officers</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Awards and Honours</button>
            <div class="dropdown-content">
				<a href="{{ url_for('awards') }}">Awards</a>
            </div>
        </div>
        <div class="btns">
            <button>
			<a href="mailto:joinindianarmy2601@gmail.com"> Contact US</a>
			</button>
            <button>
			<a href="mailto:joinindianarmy2601@gmail.com"> Join US !</a>
			</button>
        </div>
    </div>
    <footer>
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, All Rights Reserved.
        </p>
        <p>
            <a href="mailto:cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in | cse200001012@iiti.ac.in | cse200001027@iiti.ac.in</a>
        </p>
    </footer>
</body>

</html>