<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>GALLERY | sports</title>
</head>

<body>
    <nav style="background: black;">

        <div class="image_h1">

            <h1>WELCOME TO THE SPORTS GALLERY</h1>

        </div>
        <div class="marquee-parent">
            <div class="marquee-child" style="color: greenyellow;">
                SPORTS IMAGES
            </div>
        </div>
    </nav>

    <div class="list1" style="position: relative; top: 95px;">
        <img src="{{url_for('static', filename='sports1.jpg')}}" alt="" ; width="33%">
        <img src="{{url_for('static', filename='sports2.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports3.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports4.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports5.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports6.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports7.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='sports8.jpg')}}" alt="" width="33%">
        <img src="{{url_for('static', filename='SPORTS9.jpg')}}" alt="" width="33%" height="308PX">
        <br>


    </div>
    <footer>
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, Government of India. All Rights Reserved.
        </p>
        <p>
            <a href="mailto:cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in |
          cse200001012@iiti.ac.in | cse200001027@iiti.ac.in
        </a>
        </p>
    </footer>

</body>

</html>