<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>GALLERY | sports</title>
</head>

<body>
    <nav style="background: black;">

        <div class="image_h1">

            <h1>ARMY IN ACTION GALLERY</h1>

        </div>
        <div class="marquee-parent">
            <div class="marquee-child" style="color: greenyellow;">
                THRILLING IMAGES
            </div>
        </div>
    </nav>

    <div class="list1" style="position: relative; top: 103px;">
        <img src="{{url_for('static', filename='act1.jpg')}}" alt="" ; width="33%" height="310px">
        <img src="{{url_for('static', filename='act2.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act3.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act4.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act5.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act6.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act7.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act8.jpg')}}" alt=" " width="33% " height="310px ">
        <img src="{{url_for('static', filename='act9.jpg')}}" alt=" " width="33% " height="310px ">

        <br>


    </div>
    <footer>
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, Government of India. All Rights Reserved.
        </p>
        <p>
            <a href="mailto:cse200001007@iiti.ac.in ">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in |
          cse200001012@iiti.ac.in | cse200001027@iiti.ac.in
        </a>
        </p>
    </footer>

</body>

</html>