<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Life in Army</title>
</head>

<body>
    <nav style="background: black position: relative;height: 15%;">
        <marquee behavior="scroll" direction="right" scrollamount="10">
            <h1 style="color: coral; font-size: 300%">Life in INDIAN ARMY</h1>
        </marquee>
    </nav>

    <div class="ABOUT" style="position: relative; top: 100px; text-align: left; color: black">
        <h1 style="font-size: 250%; text-align: center;color: crimson;"> What the Army Offers </h1>
        <DIV style="color: black; text-align: left;">
            As a Candidate, all of you have aspirations and dreams, of what your education will finally yield. If you are looking for a fat pay packet, a corporate job is the answer. But above and beyond this should be the question of what the job offer in totality.
            Let us see what attributes go into making an excellent career. The attributes that one expects from a satisfying profession are:
        </DIV>
        <ul style="color:blue; text-align: left;position: relative; left: 20px; font-size: 125%; list-style: disc;">
            <li>Professional Advancement</li>
            <li>Job Satisfaction</li>
            <li>Job Security</li>
            <li>Economic Stability</li>
            <li>Social Statusement</li>
            <li>Quality of Life</li>
            <li>Variety and Adventure</li>
        </ul>
        <div style="color: black; text-align: left;">
            If these are what you too are looking forward to, then Army is the profession for you, as these in the Army, compare far more than favourably with any other service. All of us are aware that, professions are competitive, in so far as promotions are concerned.
            Army is no different. However, as said earlier the competition in the Army is clean and devoid of any other factor but competence.
        </div>
        <br>
        <h2 class="proffadv" style="color: coral;">Professional Advancement </h2>
        <h3 style="color: grey;">The promotional avenues available to an Army officer are:</h3> <br>
        <h4>By Time Scale</h4>
        <ul style="color:black; text-align: left;position: relative; left: 20px; font-size: 100%; list-style: disc;">
            <li>Captain</li>
            <li>Major</li>
            <li>Lieutenant Colonel</li>
        </ul>
        <br>
        <h4>By Selection</h4>
        <ul style="color:black; text-align: left;position: relative; left: 20px; font-size: 100%; list-style: disc;">
            <li>Colonel</li>
            <li>Brigadier</li>
            <li>Major General</li>
            <li>Lieutenant General</li>
            <li>General</li>
        </ul>
        <br>
        <h2 class="proffadv" style="color: coral;">Job Satisfaction </h2>
        Lack of job satisfaction leads to tremendous frustration and results in job-hopping. Jobs in the civil world whether with the government or the corporate leave one with no alternate avenues if stuck with a frustrating portfolio or setup. On the contrary,
        the sheer variety, sense of purpose, responsibility and pride, negate any job dissatisfaction in the Army.
        <br><br>
        <h2 class="proffadv" style="color: coral;">Job Security </h2>
        For an effective career, a long-term strategy is essential and this is possible only if continuity and job security is assured. The Army has been structured to ensure that its personnel work with unhindered dignity. Additionally, statutory rules and regulations
        exist to safeguard the interests of the servicemen adequately both while in service and after retirement.
        <br><br>
        <h2 class="proffadv" style="color: coral;">Foreign Courses and Postings </h2>
        The service also offers opportunity for courses and postings abroad. The India Army is renowned all over the world and interaction with foreign armies is extensive. Service with UN Forces provides exposure and travel opportunities across the globe.
        <br><br>
        <h2 class="proffadv" style="color: coral;">Pay and Allowances </h2>
        The pay and allowances are as per seventh pay commission. <br> Training for preparing retiring/retired officers for their resettlement in civil life is one of the major functions entrusted to the DGR. The resettlement training courses provide
        nationally/internationally accepted certification to facilitate officers to get quick employment within/outside the country. In addition six months courses being conducted at reputed B Schools (IIMs - Ahmedabad, Kolkata, Bangalore, Indore, XLRI
        Jamshedpur, MDI Gurgaon, NMIMS Mumbai. These courses have received an overwhelming response from officers and resulted in good job placements in the corporate sector. Other courses are being conducted in multifarious fields like Information Technology,
        Security Services, Entrepreneurship Development, Business Administration, Personnel Management, Hotel Management, Tourism, Human Resources Development, Law, Insurance and many other short term courses on miscellaneous subjects. Constant endeavor
        is made to improve the quality of training by regular monitoring <br> If the above were to be worked out in tangible terms it would add up to an amount that no private firm would be either capable of, or willing to pay.
        <br><br>
        <h2 class="proffadv" style="color: coral;">Social Status in Service </h2>
        All of us have our own opinion about what constitutes "social status”. However it is an undisputed fact that the status of a ‘warrior’ has stood the test of time. History and society have both held the soldier in esteem and offered him a unique status
        in society. By joining the Army, one becomes a member of an exclusive and elite brotherhood, which is the envy of one and
        <all class="br"><br></all>
        <h2 class="proffadv" style="color: coral;">Post Retirement </h2>
        Even after laying down the uniform, Army officers continue to have the status of the most respected citizens of our country. This added to their ingrained code of conduct and ethical values enable them to occupy a special social niche in society. Since
        he is much fitter due to the active lifestyle he has led, a second career or lateral absorption in parallel employment is always eminently feasible. His do or die attitude and mental agility ensures that he never really grows into old age, but
        continues to contribute and thus remain a valued member of society. <br><br>
        <h2 class="proffadv" style="color: coral;">Lifetime Opportunity for Professionals </h2>
        The Army provides lifetime opportunities to professionals like Doctors, Nurse, Engineers, Lawyers, and Teachers. Commissioned into the various Corps, one can pursue his or her passion to your heart’s content. An excellent infrastructure, dedicated support
        staff, and healthy environment provide unlimited growth. The Army invests heavily in human and technical resources. The latest and the best tools are made available for research and employment. Periodic forays into the academic world are encouraged
        in order to imbibe and practice current technology in your chosen field. <br><br>
        <h2 class="proffadv" style="color: coral;">Posting/Tenures Subsequent to Commissioning </h2>
        Training is a judicious mix of technical, military and managerial instruction, in top class institutions run by the Army and a host of other prestigious institutes and establishments including IITs and DRDO. In accordance with the training received, proficiency
        acquired and aptitude shown, one gets posted on a variety of regimental, staff, or instructional appointments in organizations throughout the country. Additionally officers proceed on deputation to various organizations and foreign appointments.
        Unlike in a civil environment where a posting means virtual uprooting of a household and starting a fresh new station, in the Army it is merely a change of scene. With more and more stations falling under the purview of peace stations and with
        better infrastructure facilities coming up even in small stations, the pangs of moving are speedily easing up. <br><br>
        <h2 class="proffadv" style="color: coral; ">Food for Thought </h2>
        Here it would be apt to reiterate – That all professions serve our motherland – but none of them is in the same league as the Indian Army – for this is the only profession which affords you the opportunity to live up to these stirring lines. <br>
        <div style="text-align: center; color: brown; font-style: italic;">"To every man upon this earth, death comes sooner or later. <br> And how can a man die better facing fearful odds <br> For the ashes of his father and the temple of his Gods” <br>-Macauley</div>
        <h2 class="proffadv" style="color: coral;">Quality of Life </h2>
        As an Indian Army officer at 21, you’d be looking at a lifestyle that one cannot imagine in any other profession, so early in life. What compromises "Quality of Life”? On one hand is a job with a thick pay packet but with the drudgery of 9AM to 9PM schedule,
        no avenues and time for extracurricular activities, no scope for adventure and excitement, no social status, lack of family life, threat of being terminated with a month’s salary, working in suffocating environment with no self respect and honour.
        On the other hand is a job which offers you challenge, adventure, excitement, honour, prestige, self respect, whole some family life, safety and security for the family and to top it all the love, respect and esteem of our great India. In the
        somewhat chaotic social and economic conditions that prevail in our country, Army life is an island of sanity and social order that is the envy of our countrymen. Quality of life is an important attribute of Army life, and has no parallel in any
        other service. Some of the intangibles, which go to make the quality of life in the Army, are:- <br><br>
        <ul style="color:blue; text-align: left;position: relative; left: 20px; font-size: 100%; list-style: disc;">
            <li>Service of the motherland. </li>
            <li>A profession to be proud of</li>
            <li>Opportunity to travel and know the country and its people/culture/flora and fauna</li>
            <li>Opportunity to serve and represent the nation abroad</li>
            <li>A pure and noble profession</li>
            <li>Honour and social status</li>
            <li>No stagnation, a new challenge every day.</li>
            <li>Opportunity for growth</li>
            <li>Sports and adventure activity</li>
            <li>Education facilities – Both school and professional colleges for children</li>
            <li>AWWA hostel for girls in metros</li>
            <li>Army ensures your physical and mental health.</li>
            <li>Quality of life ensured not only for officers, but also families.</li>
            <li>Messes, clubs and institutions facilities</li>
        </ul>















        <footer>
            <p>
                Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, Government of India. All Rights Reserved.
            </p>
            <p>
                <a href="mailto:cse200001007@iiti.ac.in ">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in |
          cse200001012@iiti.ac.in | cse200001027@iiti.ac.in
        </a>
            </p>
        </footer>
</body>

</html>