<html>

<head>

    <meta charset="UTF-8">
    <title> Main </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleg.css') }}">

</head>

<body>
    <div class="div1" align="center">
        <h1>
            <a href="{{ url_for('userlogin') }}" style="color: rgb(255, 159, 15);">USER LOGIN</a></br></br>
            <a href="{{ url_for('adminlogin') }}" style="color: rgb(255, 254, 254);">ADMIN LOGIN</a></br></br>
            <a href="{{ url_for('register') }}" style="color: green;">USER REGISTRATION</a></br>
        </h1>
    </div>

    <footer style="position: relative; top: 130px; background-color: coral; text-align: center;">
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, All Rights Reserved.
        </p>
        <p>
            <a href="cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in | cse200001012@iiti.ac.in | cse200001027@iiti.ac.in</a>
        </p>
    </footer>

</body>

</html>