<html> 
<head> 

<meta charset="UTF-8"> 
<title> Verify </title> 
<link rel="stylesheet" href="{{ url_for('static', filename='styleg.css') }}">            

</head> 

<body>
<div class="showblog" align="center"> 
	<h1>
		<div class="msg">{{ msg }}</div>
	</h1>
        {% if detail !="No records found"%}
            <h4 align="center" class="msg">
                <strong>{{msg}}</strong>
            </h4>
            {% if detail %}
            <div>
                {% for u in detail %}
						<h2 style="color: coral ;text-align: center; font-weight: 700; font-size: 60px;"> {{u['title']}} </h2></br>
                        <h3 style="color: cornsilk ;text-align: center; font-weight: 500; font-size: 40px;"> {{u['blog']}} </h3></br>
                {% endfor %}
            </div>
            {%endif%}
            <div>
                {%else%}
                    <h4 align="center" class="msg">
                        <strong>{{detail}}</strong>
                    </h4>
                {%endif%}
            </div> 
</div> 

</body> 
</html>