<html> 
<head> 

<meta charset="UTF-8"> 
<title> User Login </title> 
<link rel="stylesheet" href="{{ url_for('static', filename='styleg.css') }}">            

</head> 

<body> 

<marquee scrollamount="10" >User Login Portal</marquee>

</br></br></br></br>
<div class="div1" align="center"> 

<h2>
<form action="{{ url_for('userlogin') }}" onsubmit="return check()" method="post">
<div class="msg">{{ msg }}</div> 
<input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br> 
<input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br></br>
<button type="submit" value="Sign In">Submit</button></br></br>
</form>

<script>
function check(){
  let x=document.getElementById("username").value;
  let y=document.getElementById("password").value;
  if(x==""){
	alert("Username cannot be blank!");
	return false;
  }
  else if(y.length==0){
	alert("Password cannot be blank!");
	return false;
  }
}
</script>
 
</h2>
<p class="bottom">Don't have an account? &nbsp<a class="bottom" href="{{url_for('register')}}">Register here</a></p> 

</div>
	<footer style="position: relative; top: 130px; background-color: coral; text-align: center;">
        <p>
            Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, All Rights Reserved.
        </p>
        <p>
            <a href="cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in | cse200001012@iiti.ac.in | cse200001027@iiti.ac.in</a>
        </p>
    </footer> 

</body> 
</html> 