<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Video Gallery</title>
</head>

<body>

    <body>
        <nav style="background: black;">

            <div class="image_h1">

                <h1>WELCOME TO THE VIDEO GALLERY</h1>

            </div>
            <div class="marquee-parent">
                <div class="marquee-child" style="color: greenyellow;">
                    The Video gallery
                </div>
            </div>
        </nav>

        <div style="position: relative;top: 500px;">
            <video src="https://www.youtube.com/watch?v=3t5M10gBVCc"> video</video>
        </div>

        <footer style="position: relative;top: 150px;">
            <p>
                Terms & Conditions | Privacy Policy | Copyright Policy | Hyperlinking Policy | Accessibility | Statement | Help <br /> Copyright © 2021 Join Indian Army, Government of India. All Rights Reserved.
            </p>
            <p>
                <a href="mailto:cse200001007@iiti.ac.in">cse200001006@iiti.ac.in | cse200001007@iiti.ac.in |
              cse200001012@iiti.ac.in | cse200001027@iiti.ac.in
            </a>
            </p>
        </footer>

    </body>

</html>